@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

input {
    border-top: 0px transparent;
    border-left: 0px transparent;
    border-right: 0px transparent; 
}

* {
    font-family: 'Ubuntu', sans-serif;
}

#back{
    text-decoration: none;
    color: black;
}

button {
    border: 1px black;
}