<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <title>Activity 3 - UD7 - David Rueda Madrid</title>
</head>
<body>
    <div id="app">
        <form>
            <h2>Enter a integer:</h2>
            <input type="number" v-model="numInter">
            <button @click="addNumInter">Submit</button>
            <div id="errorMessage"></div>
        </form>
        <Integer v-for="s in numbersArray" :key="s" :value="s" v-on:selected="selected"></Integer>
        <div id="numSelected">

        </div>
    </div>

    <script type="module">
        import Integer from "./js/Integer.js";

        const { createApp } = Vue;

        var app = createApp({
            data() {
                return {
                    numbersArray: [],
                    selected: '',
                    numInter: null
                }
            },
            components: {
                Integer
            },
            methods: {
                addNumInter: function(e){
                    e.preventDefault();
                    if (this.numInter == ""){
                        document.getElementById("errorMessage").innerHTML = "The input is empty";
                    } else if(this.numbersArray.includes(this.numInter)) {
                        document.getElementById("errorMessage").innerHTML = "The number already exists";
                    } else if(isNaN(this.numInter)) {
                        document.getElementById("errorMessage").innerHTML = "You have to enter a correct value";
                    } else {    
                        this.numbersArray.push(this.numInter);
                    }
                },
                selectedNumInter: function(e){
                    console.log("entrado");
                    e.preventDefault();
                    this.selected = s;
                    console.log(s);
                    document.getElementById("numSelected").innerHTML = "The number pressed is: "+ s +".";
                    
                },
            }
        }).mount('#app');
    </script>
</body>
</html>

<!--

index.html
css/index.css
components/ product.js
            header.js
views/  register.js
        login.js
        products.js
router.js

-->