@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

header{
    padding: 25px;
    text-align: center;
    background-color: #3512c3;
    color: #ffffff;
}

.signin-area{
    background-color: #5d46bb;
    border-radius: 10px;
    margin: 10px auto;
    width: 210px;
    padding: 10px;
    margin-top: 10px;
}

.btn {
    color: white;
    background-color: #af8faf;
    border-radius: 10px;
    border: transparent;
    margin: 5px;
    width: 100px;
    height: 25px; 
}

body {
    background-color: #af8faf;
}

article{
    background-color: #ecdcec;
    margin: 15px;
    width: 40%;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    display: inline-block;
}

.images {
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
  
footer{
    padding: 25px;
    text-align: center;
    background-color: #3512c3;
    color: #ffffff;
}