<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Activity 2 - UD7 - David Rueda Madrid</title>
</head>
<body>
    <div id="app">
        <header>
            <h1><a href="./index.html">SCP Items shop</a></h1>
            <div class="user-area">
                <button class="btn" v-on:click="showSignUpForm"> <h4>Sign-up</h4> </button>
                <button class="btn" v-on:click="showLoginForm"> <h4>Log-in</h4> </button>
            </div>
            <h3 id="userWelcome"> </h3>
        </header>
        <main>
            <div class="sign-up" v-show="signup">
                <form action="">
                    <h2> Sign-up </h2>
                    <input type="email" v-model="email" id="email" required placeholder="Email...">
                    <input type="text" v-model="nickname" id="nickname" required placeholder="Nickname...">
                    <input type="password" v-model="password" id="password" required placeholder="Password...">
                    <input type="password" v-model="confirmPassword" id="confirmPassword" placeholder="Confirm password...">
                    <div id="errorMessage"></div>
                    <button class="form-btn" @click="signUpUser"><h4>Sign-up</h4></button>
                </form>
            </div>

            <div class="log-in" v-show="login">
                <form action="">
                    <h2> Log-in </h2>
                    <input type="email" v-model="email" id="email" placeholder="Email">
                    <input type="password" v-model="password" id="password" placeholder="Password">
                    <div id="errorMessage"></div>
                    <button class="form-btn" @click="logInUser"><h4>Log-in</h4></button>
                </form>
            </div>

            <div class="items" v-show="scpitems">
                <article v-for="data in scpItems">
                    <div class="individual-item">
                        <h1>{{data.product}}</h1>
                        <img class="images" :src="data.picture">
                        <h2>Price: {{data.price}} €</h2>
                        <h3>Items in stock: {{data.stock}}</h3>
                        <ul>
                            <h4><i>Tags: <h5 v-for="tag in data.tags">{{tag}}</h5> </i></h4>
                        </ul>   
                    </div>
                </article>
            </div>
        </main>
        <div class="push"></div>
        <footer>
            <h2>This is a footer, there's nothing important in here...</h2>
        </footer>
    </div>
    
    <script type="module">
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    scpItems: scpItems,
                    signup: false,
                    login: false,
                    scpitems: true,
                    //Inputs
                    email: '',
                    nickname: '',
                    password: '',
                    confirmPassword: ''

                }
            },
            methods: {
                showSignUpForm: function() {
                    this.signup = true;
                    this.login = false;
                    this.scpitems = false;
                    email = '';
                    nickname = '';
                    password = '';
                    confirmPassword = '';
                },
                showLoginForm: function(){
                    this.signup = false;
                    this.login = true;
                    this.scpitems = false;
                },
                signUpUser: function(e){
                    if (this.email === '' || this.nickname === '' || this.password === '' || this.confirmPassword === '') {
                        document.getElementById("errorMessage").innerHTML = "There are inputs empty!";
                    } else {
                        if(this.password === this.confirmPassword){
                            var user = {nickname: this.nickname, password: this.password}
                            localStorage.setItem(this.email, JSON.stringify(user));
                            document.getElementById("errorMessage").innerHTML = "";
                            e.preventDefault();
                            this.signup = false;
                            this.login = true;
                            this.scpitems = false;
                            console.log(localStorage.getItem(this.email))

                        } else {
                            document.getElementById("errorMessage").innerHTML = "The two passwords don't match!";
                            e.preventDefault();
                        }
                    }
                },
                logInUser: function(e){
                    if(this.email === localStorage.getItem(this.email)){

                    } else {
                        document.getElementById("errorMessage").innerHTML = "The email or the password are not correct!";
                        e.preventDefault();
                    }
                }
            }
        }).mount('#app');
    </script>
</body>
</html>