@font-face {
    font-family: 'Ubuntu';
    src: url(./Ubuntu-Regular.ttf);
}

.header{
    position: inherit;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;    
}

body{
    background-image: url(./Japan_Airlines_\(Oneworld_livery\)_Boeing_767_\(JA8980\)_at_Tokyo_Haneda_Airport.jpg);
    background-size:auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.introduction{
    font-family: Ubuntu;
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 5px lightsalmon;
}

.images{
    margin: 10px 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px white;
    opacity: 0.8;
}

form{
    font-family: Ubuntu;
    text-align: center;
    background:
    linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;
    padding: 5px;
    margin: 5px;
    width:40%;
    margin-left: 30%;
}

img:hover {
    opacity: 1.0 ;
    transform: scale(1.1);
    margin: 15px 15px
}

.button {
    background-color: wheat;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    font-family: Ubuntu;
  }

label {
    background-color: #708090;
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    border-bottom: 2px solid white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

.user_legend{
    background-color: #708090;
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
}

.button:hover, input:hover{
    -webkit-animation: bgcolorchange 5s infinite; /* Chrome, Safari, Opera */ 
    animation: 5s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
        background-color: red;
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: green;
    }
    80% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
  }
  /* Chrome, Safari, Opera */
   @-webkit-keyframes bgcolorchange {
        0%   {background: red;}
        20%  {background: orange;}
        40%  {background: yellow;}
        60%  {background: green;}
        80%  {background: blue;}
        100% {background: purple;}
   }